{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}

<div class="card bg-light p-5">

    {% for message in messages %}
          
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
     <strong>{{ message }}</strong>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
   </div>
   {% endfor %}

  <h3 class="text-dark" >Log In</h3>
<form action={% url 'handlelogin' %} method="post">{% csrf_token %}
  <br>
  
  <label for="email">Email</label>
  <div class="form-group">
  <input type="email" class="form-control" id="email" name="email" required>
  </div>
  
  <label for="password">Password</label>
  <div class="form-group">
  <input type="password" class="form-control" id="password" name="password" required>
  </div>
 
  <br>
  <button type="submit" class="text-dark bg-success">Log In</button>
  <br>
  new user? <a href="/auth/signup">SignUp</a>
  <br>

</form>
</div>
{% endblock content %}